body {
  font-family: Arial, Helvetica, sans-serif;
/*   margin: 0; */
}
.section {
  background-color:#d0a9e5;
  padding: 50px 50px;
  text-align: center;
  color: white;
  margin-top: -16px;
  margin-left: -8px;
  margin-right: -8px;
}

.title {
  text-align: center;
  font-size: 25px;
}
.text_container{
  text-align: right;
  padding: 300px;
}

/* .text_container .type {
  color: black;
  font-size: 50px;
} */

box-container {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}

left-messages {
  float: right;
}

.messages-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: -350px;
  display: block;
  width: 70%;
}

.green-message-1 {
  text-align: center;
  position:absolute;
  top: 36%;
  left: 41%;
  font-size: 18px;
}
.blue-message-1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 18px;
}

.green-message-2 {
  text-align: center;
  position: absolute;
  top: 66%;
  left: 39.5%;
  font-size: 18px;
}

.blue-message-2 {
  text-align: center;
  position:absolute;
  top: 77%;
  left: 46%;
  font-size: 18px;
}