/** Header  **/
.header {
  background-color: #7457F7;
}

.background {
  background-color: white;
/*     blue #7457F7; 
  yellow FCD226*/
}

.div-centered-text {
  color: black;
  text-align: center;
  text-decoration: none;
}

.description-floating-text {
  color: black;
  text-align: center;
  text-decoration: none;
}

.navbar {
  background:#33266e;
  color: white;
  font-family: sans-serif;
/*   height: 50px; */
  margin-top: -8px;
  margin-left: -8px;
  margin-right: -8px; 
  padding: 25px 20px
  
}


.navbar-text {
  color:white;
  text-align: center;
  text-decoration: none;
  padding-right: 10px;
}

/** Home Image **/

.home-background-image {
  background-image: url(Images/Stock Image 2.jpg) no-repeat center;
  background-size: cover;
  padding-left: 140px;
  position: relative;
  height: 400px;
}

/** Three Boxes **/

.item-drop-menu {
  font-family: sans-serif;
  text-align:center;
  float-right: 30px;
  padding-bottom: 5px;
}

.donation-drop-menu {
  font-family: sans-serif;
  text-align:center;
  float-right: 30px;
  padding-bottom: 5px;
}

.zipcode-box {
  border: 1px black;
  box-sizing: border-box;
  color: black;
  display: block;
  font-family: sans-serif;
  padding-bottom: 5px;

/*   padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%; */
  }

.zipcode-text {
  border: black;
  color: black;
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }

.search-button {
  border: none;
  color: blue;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  }

/** Footer **/

.footer {
  background-color: #7457F7;
  font-family: sans-serif;
}